# 요일 구하기

### 2016년 1월 1일은 금요일입니다. 
### 2016년 A월 B일은 무슨 요일일까요?
### 두 수 A,B를 입력받아 A월 B일이 무슨 요일인지 출력하는 getDayName 함수를 완성하세요. 
### 요일의 이름은 일요일부터 토요일까지 각각

### SUN,MON,TUE,WED,THU,FRI,SAT

### 를 출력해주면 됩니다. 
### 예를 들어 A=5, B=24가 입력된다면 5월 24일은 화요일이므로 TUE를 반환하면 됩니다.

In [18]:
import datetime
def getDayName(A,B):
    days = ['MON','TUE','WED','THU','FRI','SAT','SUN']
    return days[datetime.date(2016, A, B).weekday()]

In [20]:
getDayName(5,24)

1

'TUE'

# 하샤드 수

### 양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.
### 예를들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.

### Harshad함수는 양의 정수 n을 매개변수로 입력받습니다. 
### 이 n이 하샤드수인지 아닌지 판단하는 함수를 완성하세요.
### 예를들어 n이 10, 12, 18이면 True를 리턴 11, 13이면 False를 리턴하면 됩니다.

In [62]:
def Harshad(n):
    if n%sum([int(i) for i in str(n)]) == 0:
        return True 
    return False

In [60]:
Harshad(10)

True

In [61]:
Harshad(11)

False

In [ ]:
# 다른사람 풀이
def Harshad(n):
	sum = 0
	for i in str(n):
		sum = int(i) + sum
	return False if n % sum else True

# JadenCase 문자열 만들기

### Jaden_Case함수는 문자열 s을 매개변수로 입력받습니다. 
### s에 모든 단어의 첫 알파벳이 대문자이고, 그 외의 알파벳은 소문자인 문자열을 리턴하도록 함수를 완성하세요 
### 예를들어 s가 “3people unFollowed me for the last week”라면 “3people Unfollowed Me For The Last Week”를 리턴하면 됩니다.

In [103]:
def Jaden_Case(s):
    return ' '.join([i.capitalize() for i in s.lower().split(' ') ])

In [104]:
s = "3people unFollowed me for the last week"

In [105]:
Jaden_Case(s)

'3people Unfollowed Me For The Last Week'

In [106]:
# 다른사람 풀이
def Jaden_Case(s):
    return s.title()

# 자연수를 뒤집어 리스트로 만들기

### digit_reverse함수는 양의 정수 n을 매개변수로 입력받습니다. 
### n을 뒤집어 숫자 하나하나를 list로 표현해주세요 
### 예를들어 n이 12345이면 [5,4,3,2,1]을 리턴하면 됩니다.

In [116]:
def digit_reverser(n):
    return sorted([int(i) for i in str(n)], reverse = True)

In [117]:
n =12345

In [119]:
digit_reverser(6789)

[9, 8, 7, 6]

In [126]:
#다른 사람 풀이
def digit_reverse(n):
    return list(map(int, reversed(str(n))))

# map(function, iterable)

# 이상한 문자 만들기

### toWeirdCase함수는 문자열 s를 매개변수로 입력받습니다. 
### 문자열 s에 각 단어의 짝수번째 인덱스 문자는 대문자로, 홀수번째 인덱스 문자는 소문자로 바꾼 문자열을 리턴하도록 함수를 완성하세요. 
### 예를 들어 s가 “try hello world”라면 첫 번째 단어는 “TrY”, 두 번째 단어는 “HeLlO”, 세 번째 단어는 “WoRlD”로 바꿔 “TrY HeLlO WoRlD”를 리턴하면 됩니다.

### 주의 문자열 전체의 짝/홀수 인덱스가 아니라, 단어(공백을 기준)별로 짝/홀수 인덱스를 판단합니다.

In [166]:
def toWeirdCase(s):
    s = s.split(' ')
    a = [[i[j].upper() if j%2 ==0 else (i[j].lower()) for j in range(len(i)) ]for i in spl]
    return ' '.join([''.join(i) for i in a])

In [169]:
toWeirdCase('try hello world')

'TrY HeLlO WoRlD'

In [ ]:
# 다른사람 풀이
def toWeirdCase(s):
    def change(t):
        result = ""
        for i, v in enumerate(t):
            if i % 2:  # 홀수
                result += v.lower()
            else:  # 짝수
                result += v.upper()
        return result
    return ' '.join(list(map(change, s.split())))


# 아래는 테스트로 출력해 보기 위한 코드입니다.
print("결과 : {}".format(toWeirdCase("try hello world")));

# 두 정수 사이의 합

### adder함수는 정수 a, b를 매개변수로 입력받습니다. 
### 두 수와 두 수 사이에 있는 모든 정수를 더해서 리턴하도록 함수를 완성하세요. 
### a와 b가 같은 경우는 둘 중 아무 수나 리턴하세요. 예를들어 a가 3, b가 5이면 12를 리턴하면 됩니다.

### a, b는 음수나 0, 양수일 수 있으며 둘의 대소 관계도 정해져 있지 않습니다.

In [191]:
def adder(a,b):
    if a == b:
        return a
    elif a > b:
        return sum([i for i in range(a,b-1,-1)])
        
    else:
        return sum([i for i in range(a,b+1)])

In [189]:
adder(5,3)

12

In [177]:
a = 5
b = 3

In [192]:
# 다른사람 풀이
def adder(a, b):
    if a > b : a, b = b, a
    return sum(list(range(a, b+1)))

# 콜라츠 추측

### 1937년 Collatz란 사람에 의해 제기된 이 추측은, 입력된 수가 짝수라면 2로 나누고, 홀수라면 3을 곱하고 1을 더한 다음, 결과로 나온 수에 같은 작업을 1이 될 때까지 반복할 경우 모든 수가 1이 된다는 추측입니다. 
### 예를 들어, 입력된 수가 6이라면 6→3→10→5→16→8→4→2→1 이 되어 총 8번 만에 1이 됩니다. 
### collatz 함수를 만들어 입력된 수가 몇 번 만에 1이 되는지 반환해 주세요. 
### 단, 500번을 반복해도 1이 되지 않는다면 –1을 반환해 주세요.

In [207]:
def collatz(a):
    i=0
    while(i < 500):
        if a % 2 == 0:
            a = a/2
            
        elif a == 1 :
            print(i)
            break
        else:
            a = a*3 + 1
        return a

In [208]:
a=6

In [209]:
collatz(6)

3.0