In [14]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [15]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [16]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [17]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [18]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [19]:
# two level of index
df

             A         B
G1 1  0.524233  1.007769
   2 -0.848775  0.936374
   3 -0.203790  1.454105
G2 1 -1.850008  0.302608
   2  0.921391 -0.328114
   3  0.420304  1.917040

In [20]:
#outside index 선택
df.loc['G1']

          A         B
1  0.524233  1.007769
2 -0.848775  0.936374
3 -0.203790  1.454105

In [22]:
#outside 인덱스중 inside인덱스 선택
df.loc['G1'].loc[1]

A    0.524233
B    1.007769
Name: 1, dtype: float64

In [23]:
df.index.names

FrozenList([None, None])

In [24]:
#각index에 이름 주기
df.index.names = ['Groups', 'Num']

In [25]:
df

                   A         B
Groups Num
G1     1    0.524233  1.007769
       2   -0.848775  0.936374
       3   -0.203790  1.454105
G2     1   -1.850008  0.302608
       2    0.921391 -0.328114
       3    0.420304  1.917040

In [28]:
#특정한 value 선택
df.loc['G2'].loc[2]['B']

-0.3281140301694573

In [31]:
#cross section
#=> outside index를 뛰어넘어 inside index에서 솔팅
df.xs(1,level='Num')

               A         B
Groups
G1      0.524233  1.007769
G2     -1.850008  0.302608