### 문제 :  alpha_string46함수는 문자열 s를 매개변수로 입력받습니다. s의 길이가 4혹은 6이고, 숫자로만 구성되있는지 확인해주는 함수를 완성하세요. 
### 예를들어 s가 “a234”이면 False를 리턴하고 “1234”라면 True를 리턴하면 됩니다

In [1]:
def alpha_string46(s):
    if (len(s) == 4 or len(s) == 6) and s.isdigit():
        result = True
    else:
        result = False
    return result

In [2]:
alpha_string46('123')

False

### numPY함수는 대문자와 소문자가 섞여있는 문자열 s를 매개변수로 입력받습니다. 
### s에 ‘p’의 개수와 ‘y’의 개수를 비교해 같으면 True, 다르면 False를 리턴하도록 함수를 완성하세요. 
### ‘p’, ‘y’ 모두 하나도 없는 경우는 항상 True를 리턴합니다. 
### 예를들어 s가 “pPoooyY”면 True를 리턴하고 “Pyy”라면 False를 리턴합니다

In [3]:
import re
def numPY(s):
    s = s.lower()
    a = re.findall('p',s)
    b = re.findall('y',s)
    if len(a) == len(b):
        return True
    return False

In [4]:
#권재 풀이
def numPY(s:str):
    if s.count('p') != s.count('y'):
        return False
    return True

In [5]:
numPY('an')

True

### printTriangle 메소드는 양의 정수 num을 매개변수로 입력받습니다. 
### 다음을 참고해 *(별)로 높이가 num인 삼각형을 문자열로 리턴하는 printTriangle 메소드를 완성하세요 
### printTriangle이 return하는 String은 개행문자(‘\n’)로 끝나야 합니다.

In [6]:
def printTriangle(num):
    for num in range(num+1):
        a = num*'*' 
        print (a +'\n')

In [7]:
printTriangle(5)

*

**

***

****

*****

### strToInt 메소드는 String형 str을 매개변수로 받습니다. 
### str을 숫자로 변환한 결과를 반환하도록 strToInt를 완성하세요.
### 예를들어 str이 “1234”이면 1234를 반환하고, “-1234”이면 -1234를 반환하면 됩니다. 
### str은 부호(+,-)와 숫자로만 구성되어 있고, 잘못된 값이 입력되는 경우는 없습니다

In [8]:
def strToInt(s):
    a = int(s)
    return a

In [9]:
strToInt('1234')

1234

In [10]:
strToInt('-1234')

-1234

### 행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행,같은 열의 값을 서로 더한 결과가 됩니다.
### 2개의 행렬을 입력받는 sumMatrix 함수를 완성하여 행렬 덧셈의 결과를 반환해 주세요.

### 예를 들어 2x2 행렬인 A = ((1, 2), (2, 3)), B = ((3, 4), (5, 6)) 가 주어지면, 
### 같은 2x2 행렬인 ((4, 6), (7, 9))를 반환하면 됩니다. (어떠한 행렬에도 대응하는 함수를 완성해주세요.)

In [11]:
def sumMatrix(a, b):
    return


### 못품

In [12]:
a = [[1,2], [2,3]]
b = [[3,4], [5,6]]

In [13]:
for i,j in zip(a,b):
    for k,r in zip(i,j):
        print(k+r)

4
6
7
9

In [14]:
for i in b:
    print(i)

[3, 4]
[5, 6]

In [15]:
a = [1,2,3,4,5]
b = ['a','b','c','d','e']

In [16]:
## 다른사람 풀이

In [17]:
def codemonkey(A,B):
    answer = [[c+d for c, d in zip(a,b)] for a, b in zip(A,B)]
    return answer

In [18]:
codemonkey([[1,2], [2,3]], [[3,4],[5,6]])

[[4, 6], [7, 9]]

### 별이는 헬로월드텔레콤에서 고지서를 보내는 일을 하고 있습니다. 
### 개인정보 보호를 위해 고객들의 전화번호는 맨 뒷자리 4자리를 제외한 나머지를 "*"으로 바꿔야 합니다.
### 전화번호를 문자열 s로 입력받는 hide_numbers함수를 완성해 별이를 도와주세요
### 예를들어 s가 "01033334444"면 "*******4444"를 리턴하고, "027778888"인 경우는 "*****8888"을 리턴하면 됩니다.

In [19]:
def hide_numbers(s):
    a = len(s[:-4])*'*'
    s = s[-4:]
    new = a+s
    answer = new[-5:]
    return answer

In [20]:
hide_numbers('027778888')

'*8888'

### number_generator함수는 x와 n을 입력 받습니다. 
### 2와 5를 입력 받으면 2부터 시작해서 2씩 증가하는 숫자를 5개 가지는 리스트를 만들어서 리턴합니다. [2,4,6,8,10]

### 4와 3을 입력 받으면 4부터 시작해서 4씩 증가하는 숫자를 3개 가지는 리스트를 만들어서 리턴합니다. [4,8,12]

### 이를 일반화 하면 x부터 시작해서 x씩 증가하는 숫자를 n개 가지는 리스트를 리턴하도록 함수 number_generator를 완성하면 됩니다.

In [21]:
def number_generator(x,n):
    result = []
    for i in range(n):
        i = i + 1
        tmp = x * i
        result.append(tmp)
    return result

In [22]:
number_generator(4,3)

[4, 8, 12]

### def average(list): 함수를 완성해서 매개변수 list의 평균값을 return하도록 만들어 보세요. 
### 어떠한 크기의 list가 와도 평균값을 구할 수 있어야 합니다.

In [23]:
def average(list):
    a = 0
    for i in range(len(list)):
        a += list[i]
    return a/len(list)

In [24]:
a = [1,2,3,6,10]

In [25]:
average(a)

4.4

### rm_small함수는 list타입 변수 mylist을 매개변수로 입력받습니다.
### mylist 에서 가장 작은 수를 제거한 리스트를 리턴하고, mylist의 원소가 1개 이하인 경우는 []를 리턴하는 함수를 완성하세요.
### 예를들어 mylist가 [4,3,2,1]인 경우는 [4,3,2]를 리턴 하고, [10, 8, 22]면 [10, 22]를 리턴 합니다.

In [100]:
def rm_small(mylist):
    mylist.remove(min(mylist))
    return mylist

In [110]:
import random
a = sample(range(1,100),10)
a

[56, 20, 87, 60, 71, 23, 96, 66, 12, 25]

In [111]:
rm_small(a)

[56, 20, 87, 60, 71, 23, 96, 66, 25]

### sum_digit함수는 자연수를 전달 받아서 숫자의 각 자릿수의 합을 구해서 return합니다.
### 예를들어 number = 123이면 1 + 2 + 3 = 6을 return하면 됩니다. 
### sum_digit함수를 완성해보세요

In [158]:
#풀이 1
def sum_digit(number):
    n = str(number)
    k = []
    for i in n:
        i = int(i)
        k.append(i)
        result = sum(k)
    return result

In [160]:
#풀이 2
def sum_digit(number):
    return sum([int(i) for i in str(number)])

### water_melon함수는 정수 n을 매개변수로 입력받습니다. 
### 길이가 n이고, 수박수박수…와 같은 패턴을 유지하는 문자열을 리턴하도록 함수를 완성하세요.
### 예를들어 n이 4이면 ‘수박수박’을 리턴하고 3이라면 ‘수박수’를 리턴하면 됩니다

In [180]:
def water_melon(n):
    return (n//2 * '수박' + n%2*'수')

In [185]:
# 다른사람 풀이
def water_melon(n):
    return ("수박"*n)[:n]

# 실행을 위한 테스트코드입니다.
print("n이 3인 경우: " + water_melon(3));
print("n이 4인 경우: " + water_melon(4));

n이 3인 경우: 수박수
n이 4인 경우: 수박수박

### no_continuous함수는 스트링 s를 매개변수로 입력받습니다.
### s의 글자들의 순서를 유지하면서, 글자들 중 연속적으로 나타나는 아이템은 제거된 배열(파이썬은 list)을 리턴하도록 함수를 완성하세요. 
### 예를들어 다음과 같이 동작하면 됩니다.
### s가 ‘133303’이라면 [‘1’, ‘3’, ‘0’, ‘3’]를 리턴 s가 ‘47330’이라면 [4, 7, 3, 0]을 리턴

In [205]:
def no_continuous(s):
    nc = []
    for i in range(len(s)):
        if s[i] == s[i-1]:
            pass
        else:
            nc.append(s[i])
    return nc

In [220]:
no_continuous('133303')

['1', '3', '0', '3']

In [218]:
# enumerate 활용
def no_continuous(s):
    result =[]
    for i,v in enumerate(s):
        
        if s[i-1] == v:
            pass
        else:
            result.append(v)
    return result

In [221]:
no_continuous('133303')

['1', '3', '0', '3']

In [202]:
# 다른사람 풀이
def no_continuous(s):
    # 함수를 완성하세요
	return [v for i, v in enumerate(s) if i==0 or s[i-1] != s[i]]

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print( no_continuous( "133303" ))

['1', '3', '0', '3']

### strange_sort함수는 strings와 n이라는 매개변수를 받아들입니다. 
### strings는 문자열로 구성된 리스트인데, 각 문자열을 인덱스 n인 글자를 기준으로 정렬하면 됩니다.
### 예를들어 strings가 [“sun”, “bed”, “car”]이고 n이 1이면 각 단어의 인덱스 1인 문자 u, e ,a를 기준으로 정렬해야 하므로 결과는 [“car”, “bed”, “sun”]이 됩니다.
### strange_sort함수를 완성해 보세요.

In [1]:
def strange_sort(strings,n):
    sorted(strings,key=lambda element:element[n])
    return strings

In [5]:
strange_sort(strings,1)

['sun', 'bed', 'car']

In [6]:
## 다른방법이없을지 고민해보자

### 피보나치 수는 F(0) = 0, F(1) = 1일 때, 2 이상의 n에 대하여 F(n) = F(n-1) + F(n-2) 가 적용되는 점화식입니다. 
### 2 이상의 n이 입력되었을 때, fibonacci 함수를 제작하여 n번째 피보나치 수를 반환해 주세요.
### 예를 들어 n = 3이라면 2를 반환해주면 됩니다.

In [67]:
def fibonacci(n):
    a, b = 0 ,1
    for i in range(n):
        a ,b = b, a+b
    return a

In [68]:
n=7

In [69]:
fibonacci(7)

13

### 두 수를 입력받아 두 수의 최대공약수와 최소공배수를 반환해주는 gcdlcm 함수를 완성해 보세요.
### 배열의 맨 앞에 최대공약수, 그 다음 최소공배수를 넣어 반환하면 됩니다.
### 예를 들어 gcdlcm(3,12) 가 입력되면, [3, 12]를 반환해주면 됩니다

In [129]:
def gcdlcm(a,b):
    k =[]
    for i,v in zip(range(a+1),range(b+1)):
        if i!= 0 and a%i == 0 and v%i == 0:
            k.append(i)
    return max(k), int(a*b/max(k))

#최소공배수 = a*b/최대공약수

In [130]:
a=3
b=12

In [131]:
gcdlcm(3,12)

(3, 12)

In [132]:
## 다른사람 풀이
def gcdlcm(a, b):
    big, small = max(a, b), min(a, b)
    while small > 0:
        big, small = small, big % small
    return [big, int((a*b)/big)]

### 자연수로 이루어진 길이가 같은 수열 A,B가 있습니다.
### 최솟값 만들기는 A, B에서 각각 한 개의 숫자를 뽑아 두 수를 곱한 값을 누적하여 더합니다.
### 이러한 과정을 수열의 길이만큼 반복하여 최종적으로 누적된 값이 최소가 되도록 만드는 것이 목표입니다.

### 예를 들어 A = [1, 2] , B = [3, 4] 라면

### A에서 1, B에서 4를 뽑아 곱하여 더합니다.
### A에서 2, B에서 3을 뽑아 곱하여 더합니다.
### 수열의 길이만큼 반복하여 최솟값 10을 얻을 수 있으며, 이 10이 최솟값이 됩니다.
### 수열 A,B가 주어질 때, 최솟값을 반환해주는 getMinSum 함수를 완성하세요.

In [133]:
def getMinSum(a,b):
    return

In [178]:
a = [1,2,3,4,5]
b = [1,2,3,4,5]

In [179]:
one = sorted(a)

In [180]:
two = sorted(b)

In [181]:
two = two.reverse()

In [182]:
for i,v in list(zip(one,two)):
    print(i+v)

TypeError: zip argument #2 must support iteration

In [156]:
zip(a)

In [162]:
k=[]
for i in range(len(a)):
    for j in range(len(b)):
        k.append(a[j] * b[j])
        min(k)

In [163]:
min(k)

1