### 시계열 자료 다루기  

시계열 자료는 인덱스가 날짜 혹은 시간인 데이터를 말한다.  
Pandas에서 시계열 자료를 생성하려면 인덱스를 ```DatetimeIndex``` 자료형으로 만들어야 한다.  
```DatetimeIndex```는 특정한 순간에 기록된 타임스탬프(timestamp) 형식의 시계열 자료를 다루기 위한 인덱스이다.  
타임스탬프 인덱스의 라벨값이 반드시 일정한 간격일 필요는 없다.

```DatetimeIndex``` 인덱스는 다음과 같은 보조 함수를 사용하여 생성한다.

- <code>pd.to_datetime</code> 함수
- <code>pd.date_range</code> 함수  

```pd.to_datetime``` 함수를 쓰면 날짜/시간을 나타내는 문자열을 자동으로 datetime 자료형으로 바꾼 후 ```DatetimeIndex``` 자료형 인덱스를 생성한다.

In [2]:
import numpy as np
import pandas as pd

In [3]:
date_str = ["2018, 1, 1", "2018, 1, 4", "2018, 1, 5", "2018, 1, 6"]
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06'], dtype='datetime64[ns]', freq=None)

이렇게 만들어진 인덱스를 사용하여 시리즈나 데이터프레임을 생성하면 된다.

In [4]:
np.random.seed(0)
s = pd.Series(np.random.randn(4), index=idx)
s

2018-01-01    1.764052
2018-01-04    0.400157
2018-01-05    0.978738
2018-01-06    2.240893
dtype: float64

```pd.date_range``` 함수를 쓰면 모든 날짜/시간을 일일히 입력할 필요없이 시작일과 종료일 또는 시작일과 기간을 입력하면 범위 내의 인덱스를 생성해 준다.

In [5]:
pd.date_range("2018-4-1", "2018-4-30")

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range(start="2018-4-1", periods=30)

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', freq='D')

```freq``` 인수로 특정한 날짜만 생성되도록 할 수도 있다. 많이 사용되는 ```freq``` 인수값은 다음과 같다.

- s: 초
- T: 분
- H: 시간
- D: 일(day)
- B: 주말이 아닌 평일
- W: 주(일요일)
- W-MON: 주(월요일)
- M: 각 달(month)의 마지막 날
- MS: 각 달의 첫날
- BM: 주말이 아닌 평일 중에서 각 달의 마지막 날
- BMS: 주말이 아닌 평일 중에서 각 달의 첫날
- WOM-2THU: 각 달의 두번째 목요일
- Q-JAN: 각 분기의 첫달의 마지막 날
- Q-DEC: 각 분기의 마지막 달의 마지막 날  

보다 자세한 내용은 다음 웹사이트를 참조한다.

- http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

In [7]:
pd.date_range("2018-4-1", "2018-4-30", freq="B")

DatetimeIndex(['2018-04-02', '2018-04-03', '2018-04-04', '2018-04-05',
               '2018-04-06', '2018-04-09', '2018-04-10', '2018-04-11',
               '2018-04-12', '2018-04-13', '2018-04-16', '2018-04-17',
               '2018-04-18', '2018-04-19', '2018-04-20', '2018-04-23',
               '2018-04-24', '2018-04-25', '2018-04-26', '2018-04-27',
               '2018-04-30'],
              dtype='datetime64[ns]', freq='B')

In [8]:
pd.date_range("2018-1-1", "2018-12-31", freq="W")

DatetimeIndex(['2018-01-07', '2018-01-14', '2018-01-21', '2018-01-28',
               '2018-02-04', '2018-02-11', '2018-02-18', '2018-02-25',
               '2018-03-04', '2018-03-11', '2018-03-18', '2018-03-25',
               '2018-04-01', '2018-04-08', '2018-04-15', '2018-04-22',
               '2018-04-29', '2018-05-06', '2018-05-13', '2018-05-20',
               '2018-05-27', '2018-06-03', '2018-06-10', '2018-06-17',
               '2018-06-24', '2018-07-01', '2018-07-08', '2018-07-15',
               '2018-07-22', '2018-07-29', '2018-08-05', '2018-08-12',
               '2018-08-19', '2018-08-26', '2018-09-02', '2018-09-09',
               '2018-09-16', '2018-09-23', '2018-09-30', '2018-10-07',
               '2018-10-14', '2018-10-21', '2018-10-28', '2018-11-04',
               '2018-11-11', '2018-11-18', '2018-11-25', '2018-12-02',
               '2018-12-09', '2018-12-16', '2018-12-23', '2018-12-30'],
              dtype='datetime64[ns]', freq='W-SUN')

In [9]:
pd.date_range("2018-1-1", "2018-12-31", freq="W-MON")

DatetimeIndex(['2018-01-01', '2018-01-08', '2018-01-15', '2018-01-22',
               '2018-01-29', '2018-02-05', '2018-02-12', '2018-02-19',
               '2018-02-26', '2018-03-05', '2018-03-12', '2018-03-19',
               '2018-03-26', '2018-04-02', '2018-04-09', '2018-04-16',
               '2018-04-23', '2018-04-30', '2018-05-07', '2018-05-14',
               '2018-05-21', '2018-05-28', '2018-06-04', '2018-06-11',
               '2018-06-18', '2018-06-25', '2018-07-02', '2018-07-09',
               '2018-07-16', '2018-07-23', '2018-07-30', '2018-08-06',
               '2018-08-13', '2018-08-20', '2018-08-27', '2018-09-03',
               '2018-09-10', '2018-09-17', '2018-09-24', '2018-10-01',
               '2018-10-08', '2018-10-15', '2018-10-22', '2018-10-29',
               '2018-11-05', '2018-11-12', '2018-11-19', '2018-11-26',
               '2018-12-03', '2018-12-10', '2018-12-17', '2018-12-24',
               '2018-12-31'],
              dtype='datetime64[ns]', freq='W-MON')

In [11]:
pd.date_range("2018-4-1", "2018-12-31", freq="MS")

DatetimeIndex(['2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01',
               '2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01',
               '2018-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [12]:
pd.date_range("2018-4-1", "2018-12-31", freq="M")

DatetimeIndex(['2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31',
               '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30',
               '2018-12-31'],
              dtype='datetime64[ns]', freq='M')

In [13]:
pd.date_range("2018-4-1", "2018-12-31", freq="BMS")

DatetimeIndex(['2018-04-02', '2018-05-01', '2018-06-01', '2018-07-02',
               '2018-08-01', '2018-09-03', '2018-10-01', '2018-11-01',
               '2018-12-03'],
              dtype='datetime64[ns]', freq='BMS')

In [14]:
pd.date_range("2018-4-1", "2018-12-31", freq="BM")

DatetimeIndex(['2018-04-30', '2018-05-31', '2018-06-29', '2018-07-31',
               '2018-08-31', '2018-09-28', '2018-10-31', '2018-11-30',
               '2018-12-31'],
              dtype='datetime64[ns]', freq='BM')

In [15]:
pd.date_range("2018-1-1", "2018-12-31", freq="WOM-2THU")

DatetimeIndex(['2018-01-11', '2018-02-08', '2018-03-08', '2018-04-12',
               '2018-05-10', '2018-06-14', '2018-07-12', '2018-08-09',
               '2018-09-13', '2018-10-11', '2018-11-08', '2018-12-13'],
              dtype='datetime64[ns]', freq='WOM-2THU')

In [16]:
pd.date_range("2018-1-1", "2018-12-31", freq="Q-JAN")

DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31'], dtype='datetime64[ns]', freq='Q-JAN')

In [17]:
pd.date_range("2018-1-1", "2018-12-31", freq="Q-DEC")

DatetimeIndex(['2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31'], dtype='datetime64[ns]', freq='Q-DEC')

###### shift 연산  

시계열 데이터의 인덱스는 시간이나 날짜를 나타내기 때문에 날짜 이동 등의 다양한 연산이 가능하다.  
예를 들어 shift 연산을 사용하면 인덱스는 그대로 두고 데이터만 이동할 수도 있다.

In [18]:
np.random.seed(0)
ts = pd.Series(np.random.randn(4), index=pd.date_range(
    "2018-1-1", periods=4, freq="M"))
ts

2018-01-31    1.764052
2018-02-28    0.400157
2018-03-31    0.978738
2018-04-30    2.240893
Freq: M, dtype: float64

In [19]:
ts.shift(1)

2018-01-31         NaN
2018-02-28    1.764052
2018-03-31    0.400157
2018-04-30    0.978738
Freq: M, dtype: float64

In [20]:
ts.shift(-1)

2018-01-31    0.400157
2018-02-28    0.978738
2018-03-31    2.240893
2018-04-30         NaN
Freq: M, dtype: float64

In [21]:
ts.shift(1, freq="M")

2018-02-28    1.764052
2018-03-31    0.400157
2018-04-30    0.978738
2018-05-31    2.240893
Freq: M, dtype: float64

In [22]:
ts.shift(1, freq="W")

2018-02-04    1.764052
2018-03-04    0.400157
2018-04-01    0.978738
2018-05-06    2.240893
Freq: WOM-1SUN, dtype: float64

### resample 연산  

```resample``` 연산을 쓰면 시간 간격을 재조정하는 리샘플링(resampling)이 가능하다. 이 때 시간 구간이 작아지면 데이터 양이 증가한다고 해서 업-샘플링(up-sampling)이라 하고 시간 구간이 커지면 데이터 양이 감소한다고 해서 다운-샘플링(down-sampling)이라 부른다.

In [30]:
ts = pd.Series(np.random.randn(100), index=pd.date_range(
    "2018-1-1", periods=100, freq="D"))
ts.tail(20)

2018-03-22    0.476898
2018-03-23    0.148450
2018-03-24    0.529045
2018-03-25    0.422629
2018-03-26   -1.359781
2018-03-27   -0.041401
2018-03-28   -0.757871
2018-03-29   -0.050084
2018-03-30   -0.897401
2018-03-31    1.312470
2018-04-01   -0.858972
2018-04-02   -0.898942
2018-04-03    0.074586
2018-04-04   -1.077099
2018-04-05   -0.424663
2018-04-06   -0.829965
2018-04-07    1.411172
2018-04-08    0.785804
2018-04-09   -0.057470
2018-04-10   -0.391217
Freq: D, dtype: float64

다운-샘플링의 경우에는 원래의 데이터가 그룹으로 묶이기 때문에 그룹바이(groupby)때와 같이 그룹 연산을 해서 대표값을 구해야 한다.

In [33]:
ts.resample('W').mean()

2018-01-07    0.577140
2018-01-14   -0.049675
2018-01-21   -0.318759
2018-01-28   -0.071124
2018-02-04   -0.304629
2018-02-11   -0.270535
2018-02-18   -0.175854
2018-02-25    0.134081
2018-03-04    0.011068
2018-03-11    0.064383
2018-03-18   -0.391816
2018-03-25    0.195537
2018-04-01   -0.379006
2018-04-08   -0.137015
2018-04-15   -0.224343
Freq: W-SUN, dtype: float64

In [34]:
ts.resample('M').first()

2018-01-31    0.234822
2018-02-28   -2.245322
2018-03-31    0.024612
2018-04-30   -0.858972
Freq: M, dtype: float64

날짜가 아닌 시/분 단위에서는 구간위 왼쪽 한계값(가장 빠른 값)은 포함하고 오른쪽 한계값(가장 늦은 값)은 포함하지 않는다.  
즉, 가장 늦은 값은 다음 구간에 포함된다. 예를 들어 10분 간격으로 구간을 만들면 10의 배수가 되는 시각은 구간의 시작점이 된다.

In [37]:
ts = pd.Series(np.random.randn(60), index=pd.date_range(
    "2018-1-1", periods=60, freq="T"))
ts.head(20)

2018-01-01 00:00:00    0.940918
2018-01-01 00:01:00    0.405204
2018-01-01 00:02:00    0.498052
2018-01-01 00:03:00   -0.026192
2018-01-01 00:04:00   -1.688230
2018-01-01 00:05:00   -0.112466
2018-01-01 00:06:00   -0.532490
2018-01-01 00:07:00    0.645055
2018-01-01 00:08:00    1.011842
2018-01-01 00:09:00   -0.657951
2018-01-01 00:10:00    0.468385
2018-01-01 00:11:00    1.735879
2018-01-01 00:12:00   -0.667713
2018-01-01 00:13:00    1.681922
2018-01-01 00:14:00   -0.852586
2018-01-01 00:15:00    0.022960
2018-01-01 00:16:00   -0.011146
2018-01-01 00:17:00    0.011499
2018-01-01 00:18:00   -0.837678
2018-01-01 00:19:00   -0.591183
Freq: T, dtype: float64

In [38]:
ts.resample('10T').sum()

2018-01-01 00:00:00    0.483743
2018-01-01 00:10:00    0.960339
2018-01-01 00:20:00    4.359315
2018-01-01 00:30:00    3.502927
2018-01-01 00:40:00   -5.725133
2018-01-01 00:50:00   -2.581089
Freq: 10T, dtype: float64

왼쪽이 아니라 오른쪽 한계값을 구간에 포함하려면 ```closed="right"``` 인수를 사용한다. 이 때는 10의 배수가 되는 시각이 앞 구간에 포함된다.

In [39]:
ts.resample('10T', closed="right").sum()

2017-12-31 23:50:00    0.940918
2018-01-01 00:00:00    0.011210
2018-01-01 00:10:00   -0.175766
2018-01-01 00:20:00    5.078611
2018-01-01 00:30:00    3.857768
2018-01-01 00:40:00   -7.164191
2018-01-01 00:50:00   -1.548445
Freq: 10T, dtype: float64

```ohlc``` 메서드는 구간의 시고저종(open, high, low, close)값을 구한다.

In [40]:
ts.resample('5T').ohlc()

                         open      high       low     close
2018-01-01 00:00:00  0.940918  0.940918 -1.688230 -1.688230
2018-01-01 00:05:00 -0.112466  1.011842 -0.657951 -0.657951
2018-01-01 00:10:00  0.468385  1.735879 -0.852586 -0.852586
2018-01-01 00:15:00  0.022960  0.022960 -0.837678 -0.591183
2018-01-01 00:20:00 -0.667720  2.225944 -0.667720  1.370989
2018-01-01 00:25:00 -0.509843  0.997118 -0.509843 -0.069642
2018-01-01 00:30:00  0.051575  0.867277 -0.848321  0.470433
2018-01-01 00:35:00  0.311447  2.133868 -0.369801  2.133868
2018-01-01 00:40:00  0.406415  0.755740 -0.749690 -0.749690
2018-01-01 00:45:00  0.032809  0.032809 -2.582797 -1.353389
2018-01-01 00:50:00 -1.032643 -0.406072 -1.642965 -0.535270
2018-01-01 00:55:00  0.025405  1.154184  0.021062  0.099454

업-샘플링의 경우에는 실제로 존재하지 않는 데이터를 만들어야 한다.  
이 때는 앞에서 나온 데이터를 뒤에서 그대로 쓰는 forward filling 방식과 뒤에서 나올 데이터를 앞에서 미리 쓰는 backward filling 방식을 사용할 수 있다. 각각 ```ffill```, ```bfill``` 메서드를 이용한다.

In [42]:
ts.resample('30s').ffill().head(20)

2018-01-01 00:00:00    0.940918
2018-01-01 00:00:30    0.940918
2018-01-01 00:01:00    0.405204
2018-01-01 00:01:30    0.405204
2018-01-01 00:02:00    0.498052
2018-01-01 00:02:30    0.498052
2018-01-01 00:03:00   -0.026192
2018-01-01 00:03:30   -0.026192
2018-01-01 00:04:00   -1.688230
2018-01-01 00:04:30   -1.688230
2018-01-01 00:05:00   -0.112466
2018-01-01 00:05:30   -0.112466
2018-01-01 00:06:00   -0.532490
2018-01-01 00:06:30   -0.532490
2018-01-01 00:07:00    0.645055
2018-01-01 00:07:30    0.645055
2018-01-01 00:08:00    1.011842
2018-01-01 00:08:30    1.011842
2018-01-01 00:09:00   -0.657951
2018-01-01 00:09:30   -0.657951
Freq: 30S, dtype: float64

In [43]:
ts.resample('30s').bfill().head(20)

2018-01-01 00:00:00    0.940918
2018-01-01 00:00:30    0.405204
2018-01-01 00:01:00    0.405204
2018-01-01 00:01:30    0.498052
2018-01-01 00:02:00    0.498052
2018-01-01 00:02:30   -0.026192
2018-01-01 00:03:00   -0.026192
2018-01-01 00:03:30   -1.688230
2018-01-01 00:04:00   -1.688230
2018-01-01 00:04:30   -0.112466
2018-01-01 00:05:00   -0.112466
2018-01-01 00:05:30   -0.532490
2018-01-01 00:06:00   -0.532490
2018-01-01 00:06:30    0.645055
2018-01-01 00:07:00    0.645055
2018-01-01 00:07:30    1.011842
2018-01-01 00:08:00    1.011842
2018-01-01 00:08:30   -0.657951
2018-01-01 00:09:00   -0.657951
2018-01-01 00:09:30    0.468385
Freq: 30S, dtype: float64