In [1]:
import sqlite3

In [2]:
# conn = sqlite3.connect(':memory:') # 메모리 DB 접속(일회성)

In [3]:
conn = sqlite3.connect('test.db') # 파일 DB 접속
cur = conn.cursor()

In [48]:
 # Table 생성
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Eagles (back_no INT NOT NULL,name TEXT,position TEXT,PRIMARY KEY(back_no));')
conn.commit()

In [45]:
 # Table 지우기
cur = conn.cursor()
cur.execute('DROP TABLE Eagles') 
conn.commit()
# conn.close()

In [49]:
# Insert Items into Table
sql = "insert into Eagles(back_no,name,position) values (?, ?, ?)"
cur.execute(sql, (1, '홍길동', '서울'))
cur.execute(sql, (2, '신은총', '익산'))
cur.execute(sql, (4, '박진원', '전주'))
cur.execute(sql, (99, '푸른산', '전주'))
cur.execute(sql, (38, '권재', '대전'))
conn.commit()
# conn.close()

In [53]:
# Table 모두 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '홍길동', '서울')
(2, '신은총', '익산')
(4, '박진원', '전주')
(99, '푸른산', '전주')
(38, '권재', '대전')

In [56]:
#with 문 이용

with conn:
    cur = conn.cursor()
    cur.execute("SELECT * FROM Eagles")
    rows = cur.fetchall()
    for row in rows:
        print(row)

(1, '홍길동', '서울')
(2, '신은총', '익산')
(4, '박진원', '전주')
(99, '푸른산', '전주')
(38, '권재', '대전')

In [59]:
# 1건 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
row = cur.fetchone()
print(row)

(1, '홍길동', '서울')

In [62]:
# 다건 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
rows = cur.fetchmany(2)
print(rows)

[(1, '홍길동', '서울'), (2, '신은총', '익산')]

In [64]:
# 필요한 column만 조회
cur = conn.cursor()
cur.execute("SELECT name FROM Eagles WHERE back_no > 10")
rows = cur.fetchall();
for row in rows:
    print(row)

('권재',)
('푸른산',)

In [66]:
# 원하는 순서 및 갯수
cur.execute("SELECT * FROM Eagles ORDER BY name")
cur.execute("SELECT * FROM Eagles ORDER BY name DESC")
cur.execute("SELECT * FROM Eagles ORDER BY name DESC LIMIT 1")
row = cur.fetchone()
print(row[1])

홍길동

In [69]:
# 집계 함수
cur.execute("SELECT count(*) FROM Eagles")
count = cur.fetchone()
print(count)
# max(column), min(column), sum(column), avg(column)

(5,)

In [70]:
# 기본 스트링 쿼리
cur = conn.cursor()
cur.execute("SELECT * FROM Eagles WHERE position='전주';")
rows = cur.fetchall();
for row in rows:
    print(row)

(4, '박진원', '전주')
(99, '푸른산', '전주')

In [73]:
# Placeholder
cur = conn.cursor()
back_no = 99
cur.execute("SELECT * FROM Eagles WHERE back_no=?;", (back_no,))
player = cur.fetchone()
print(player)
print(player[0])

(99, '푸른산', '전주')
99

In [74]:
# Grouping
cur = conn.cursor()
sql = "SELECT position, count(*) FROM Eagles GROUP BY position"
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    print(row)

('대전', 1)
('서울', 1)
('익산', 1)
('전주', 2)

In [81]:
# 데이터 변경
position = '외야수'
back_no = 8
cur.execute("UPDATE Eagles SET position=? WHERE back_no=?;",(position, back_no))
cur.execute("SELECT * FROM Eagles WHERE back_no=?", (back_no,))
cur.fetchone()
data = ((1995,1), (1986,57))
sql = "UPDATE Eagles SET position=? WHERE back_no=?"
cur.executemany(sql, data)
conn.commit()

In [84]:
#데이터 삭제
cur = conn.cursor()
cur.execute("DELETE FROM Eagles WHERE back_no=1");

In [85]:
with conn:
    cur = conn.cursor()
    cur.execute("SELECT * FROM Eagles")
    rows = cur.fetchall()
    for row in rows:
        print(row)

(2, '신은총', '익산')
(4, '박진원', '전주')
(99, '푸른산', '전주')
(38, '권재', '대전')

In [5]:
#테이블 변경
cur.execute("ALTER TABLE Eagles ADD COLUMN birth INTEGER")
conn.commit()

OperationalError: duplicate column name: birth

In [7]:
with conn:
    cur = conn.cursor()
    cur.execute("SELECT * FROM Eagles")
    rows = cur.fetchall()
    for row in rows:
        print(row)

(2, '신은총', '익산', None)
(4, '박진원', '전주', None)
(99, '푸른산', '전주', None)
(38, '권재', '대전', None)

In [6]:
conn.commit()

In [87]:
conn.close()