In [26]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses_2 =['Art','Education']

In [27]:
print(courses[0:2])
print(courses[-1])
print(courses[:2])
print(courses[2:])

['History', 'Math']
CompSci
['History', 'Math']
['Physics', 'CompSci']

In [21]:
courses.append('Art')
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art']

In [22]:
courses.insert(0,'Art')
print(courses)

['Art', 'History', 'Math', 'Physics', 'CompSci', 'Art']

In [29]:
courses.insert(0,courses_2)
print(courses)

[['Art', 'Education'], 'History', 'Math', 'Physics', 'CompSci']

In [30]:
print(courses[0])

['Art', 'Education']

In [35]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses_2 =['Art','Education']

courses.extend(courses_2)
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art', 'Education']

In [38]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses_2 =['Art','Education']

courses.append(courses_2)
print(courses)

['History', 'Math', 'Physics', 'CompSci', ['Art', 'Education']]

In [39]:
courses.remove('Math')
print(courses)

['History', 'Physics', 'CompSci', ['Art', 'Education']]

In [40]:
courses.pop()
print(courses)

['History', 'Physics', 'CompSci']

In [41]:
popped = courses.pop()
print(popped)

CompSci

In [44]:
courses = ['History', 'Math', 'Physics', 'CompSci']

courses.reverse()
print(courses)

['CompSci', 'Physics', 'Math', 'History']

In [45]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.sort()
print(courses)

['CompSci', 'History', 'Math', 'Physics']

In [47]:
courses = ['History', 'Math', 'Physics', 'CompSci']
sorted_courses = sorted(courses)
print(courses)

['History', 'Math', 'Physics', 'CompSci']

In [49]:
print(courses.index('CompSci'))

3

In [50]:
print('Art' in courses)

False

In [51]:
print('Math' in courses)

True

In [58]:
courses = ['History', 'Math', 'Physics', 'CompSci']

for course in enumerate(courses, start = 1):
    print(course)

(1, 'History')
(2, 'Math')
(3, 'Physics')
(4, 'CompSci')

In [59]:
course_str = ', '.join(courses)

In [61]:
print(course_str)

History, Math, Physics, CompSci

In [62]:
new_list = course_str.split(', ')

In [63]:
print(new_list)

['History', 'Math', 'Physics', 'CompSci']

In [71]:
list_1 = ['History', 'Math', 'Physics', 'CompSci']
list_2 = list_1

print(list_1)
print(list_2)

list_1[0] = 'Art'

print(list_1)
print(list_2)

['History', 'Math', 'Physics', 'CompSci']
['History', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']

In [72]:
tuple_1 = ('History', 'Math', 'Physics', 'CompSci')
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

tuple_1[0] = 'Art'

print(tuple_1)
print(tuple_2)

('History', 'Math', 'Physics', 'CompSci')
('History', 'Math', 'Physics', 'CompSci')

TypeError: 'tuple' object does not support item assignment

In [64]:
#sets

In [65]:
cs_course = {'History','Math','Physics','CompSci'}
art_course = {'History','Math','Art','Design'}

In [68]:
print(cs_course.intersection(art_course))
print(cs_course.difference(art_course))
print(cs_course.union(art_course))

{'Math', 'History'}
{'CompSci', 'Physics'}
{'Physics', 'Math', 'History', 'Design', 'Art', 'CompSci'}

In [80]:
#immutable
#string
a ='corey'
print(a)
print('Address of a is : {}'.format(id(a)))
#immutable의 의미는 assign 할수 없다는 의미가 아니다.
a ='john'
print(a)
print('Address of a is : {}'.format(id(a)))
# 새로운 memory를 생성하였다.

a[0] = 'C' 
print(a)
print('Address of a is : {}'.format(id(a)))

corey
Address of a is : 2096019909072
john
Address of a is : 2096019909240

TypeError: 'str' object does not support item assignment

In [82]:
a = [1,2,3,4,5]
print(a)
print('Address of a is : {}'.format(id(a)))

a[0] = 6
print(a)
print('Address of a is : {}'.format(id(a)))

#memory address가 같다.

[1, 2, 3, 4, 5]
Address of a is : 2096019800392
[6, 2, 3, 4, 5]
Address of a is : 2096019800392

In [85]:
employees = ['Corey','John','Rick','Steve','Carl','Adam']

output = '<ul>\n'

for employee in employees:
    output += '\t<li>{}</li>\n'.format(employee)
    print('Address of output is : {}'.format(id(output)))
    
output += '</ul>'

print(output)

Address of output is : 2096020009152
Address of output is : 2096019892688
Address of output is : 2096019922640
Address of output is : 2096019721072
Address of output is : 2096019831640
Address of output is : 2096019716832
<ul>
	<li>Corey</li>
	<li>John</li>
	<li>Rick</li>
	<li>Steve</li>
	<li>Carl</li>
	<li>Adam</li>
</ul>

In [87]:
nums = [1,2,3,4,5]

output = 0

for num in nums:
    output += 1
    print('Address of output is : {}'.format(id(output)))
    

print(output)

Address of output is : 1788439616
Address of output is : 1788439648
Address of output is : 1788439680
Address of output is : 1788439712
Address of output is : 1788439744
5